*
{
    margin: 0;
    padding: 0;
}
body
{
    height: 100%;
    width: 100%;
}
/* nav bar */
.nav
{
    display: flex;
    width: 100%;
    height: 100%;
}
#container
{
    width: 100%;
    height: 100%;
}
.main-nav-bar
{
    background-color: rgb(0, 0, 0);
    width: 10%;
    height: 100vh;
    z-index: 1;
    scroll-behavior: hidden;
}
.main-nav-bar a
{
    display: block;
    text-decoration: none;
    color: white;
    line-height: 7.5;
    text-align: center;
}
.secondary-nav
{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    width: 100%;
}
/* dashboard */
.contact
{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    width: 100%;
    margin-left: 10%;
    margin-bottom: -100%;
}
.search-bar
{
    position: relative;
    height: 6vh;
    display: flex;
}
.nav-search-bar
{
    outline: 0;
    padding: 10px;
    width: 450px;
    height: 25px;
    padding-left: 2em;
    border: 0;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.616);
    color: white;
}

.nav-search-bar::placeholder
{
    color: white;
}
#search-icon
{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    /* transform: rotate(90deg); */
    cursor: pointer;
    color: white;
}
.nav-search
{
    text-transform: uppercase;
    padding: 4px;
    border: 0;
    background-color: red;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.user
{
    display: flex;
    gap: 10px;
}
.administrator
{
    font-size: 20px;
    font-weight: bold;
}

#user-icon
{
    font-size: 20px;
}
#angle-down-icon
{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: black;
    color: white;
    padding: 4px;
    cursor: pointer;
}
table, th, td
{
    margin-left: 11%;
    margin-top: -40%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
table th
{
    background-color: black;
    color: white;
    width: 175px;
}
table tr:hover
{
    cursor: pointer;
    background-color: black;
    color: white;
}

.add-record-page
{
    margin-left: 9%;
    padding: 10px;
    width: 600px;
    display: none;
    background: white;
}
.add-record
{
    margin-left: 11%;
    margin-top: 1%;
    padding: 10px;
    background-color: black;
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
}
.add-record-page input
{
    margin-top: 5px;
    line-height: 1.5;
    padding: 5px;
    width: 400px;
    outline: 0;
    border: 0;
}
legend
{
    color: black;
    font-weight: 600;
    font-size: 20px;
}
.submit-add-record
{
    margin-left: 1%;
}
.update-record-page
{
    margin-left: 9%;
    padding: 10px;
    width: 600px; 
    display: none;
    background-color: white;
}
.update-record-page input
{
    margin-top: 5px;
    line-height: 1.5;
    padding: 5px;
    width: 400px;
    outline: 0;
    border: 0;
}
.view-request
{
    margin-left: 17%;
}