*
{
    margin: 0;
    padding: 0;
}
body
{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.74);
}

/* nav bar */
.nav
{
    display: flex;
}
.header-bar
{
    width: 100%;
    height: 50px;
    padding: 10px;
    background: black;
    text-align: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
}
.line-dashboard
{
    height: 1px;
    width: 60px;
    background: white;
    margin-left: 40%;
    margin-top: -15%;
    display: none;
}
.main-nav-bar
{
    background-color: black;
    width: 13%;
    height: 100vh;
    position: fixed;
    z-index: 1;
}
.main-nav-bar a {
    display: block;
    text-decoration: none;
    color: grey;
    line-height: 1.5;
    text-align: center;
    margin-top: 50%;
    font-size: 20px;
}
.main-nav-bar a:hover {
    color: white;
}

#font-awesome
{
    color: white;
    margin-top: 90px;
    font-size: 30px;
    margin-left: 7%;
    cursor: pointer;
}

.secondary-nav
{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    width: 100%;
}
/* dashboard */
.contact
{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    width: 100%;
    margin-left: 10%;
    margin-bottom: -100%;
}
.search-bar
{
    position: relative;
    height: 6vh;
    display: flex;
}
.nav-search-bar
{
    outline: 0;
    padding: 10px;
    width: 450px;
    height: 25px;
    padding-left: 2em;
    border: 0;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.616);
    color: white;
}
#notification-bell
{
    width: 25px;
    height: 25px;
    margin-left: 200px;
    margin-top: 5px;
    cursor: pointer;
    padding: 5px;
    color: white;
}
#notification-bell:hover
{
    background-color: black;
    border-radius: 50%;
    color: white;
}

.nav-search-bar::placeholder
{
    color: white;
}
#search-icon
{
    position: absolute;
    top: 10px;
    left: 48%;
    font-size: 20px;
    /* transform: rotate(90deg); */
    cursor: pointer;
    color: white;
}
.search-bar
{
    margin-left: 25%;
    margin-top: -2%;
}
.nav-search
{
    text-transform: uppercase;
    padding: 4px;
    border: 0;
    background-color: red;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.user
{
    display: flex;
    gap: 20px;
    margin-right: 5%;
}
.administrator
{
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 4px;
}

#user-icon
{
    font-size: 20px;
    color: white;
    margin-top: 4px;
}
#power-icon
{
    width: 20px;
    height: 20px;
    color: white;
    background: rgb(180, 171, 171);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
.dashboard-square
{
    margin-left: 20%;
    margin-top: 45%;
    gap: 50px;
    display: flex;
    text-align: center;
    position: relative;
}
.box
{
    height: 150px;
    width: 200px;
    background-color: rgb(66, 101, 107);
    margin-top: -35%;
    position: relative;
    font-weight: 600;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(195, 0, 255));
    background-size: cover;
    border-radius: 10px;
}
.for-job-uncompleted
{
    background-image: linear-gradient(rgb(206, 93, 18), rgb(14, 12, 11));
}
.for-job-completed
{
    background-image: linear-gradient(rgb(16, 206, 231), rgb(147, 150, 189));
}
.for-customer-requests
{
    background-image: linear-gradient(rgb(236, 21, 21)0, rgb(0, 0, 0));
}
.price
{
    position: absolute;
    top: 40px;
    left: 60px;
    color: white;
}
#arrow-up
{
    position: absolute;
    top: 35px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: green;
    color: white;
}


.revenue
{
    position: absolute;
    top: 90px;
    left: 50px;
    color: white;
}

.view-revenue
{
    position: absolute;
    bottom: -17px;
    left: 50px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
#arrow-right
{
    position: absolute;
    bottom: -16px;
    right: 40px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.lowerbox
{
    height: 20px;
    width: 100%;
    background-color: rgb(41, 38, 38);
    margin-top: 150px;
    border-radius: 10px;
}
.uncompletedJobs
{
    font-size: 40px;
    left: 95px;
}
.completedJobs
{
    font-size: 40px;
    left: 80px;
}
.request-count
{
    font-size: 40px;
    left: 80px;
}
.uncompletedjob
{
    width: 100%;
    left: -10px;
}
.jobuncompleted
{
    left: 60px;
}
.jobcompleted
{
    left: 60px;
}
.customer-requests
{
    left: 62px;
}
#arrow-uncompletedjob
{
    position: absolute;
    bottom: -16px;
    right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
#arrow-completedjob
{
    position: absolute;
    bottom: -16px;
    right: 20px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
#view_request
{
    margin-left: 14%;
    margin-top: -35%;
    background-color: black;
    width: 80vw;
    height: fit-content;
    position: relative;
    /* z-index: 1; */
    display: none;
    padding: 10px;
}
#uncompleted-project
{
    margin-left: 14%;
    margin-top: -35%;
    background-color: black;
    width: 80vw;
    height: fit-content;
    position: relative;
    z-index: 1;
    display: none;
    padding: 10px;
}
h3
{
    color: white;
    text-align: center;
}
table, th, td
{
    text-align: center;
    border: 1px solid white;
    color: white;
    border-collapse: collapse;
    padding: 10px;
    width: 1000px;
    margin-left: 50px;
    margin-top: 20px;
}

.accept, .decline, .details
{
    margin-left: 10%;
    margin-top: 1%;
    padding: 10px;
    background-color: white;
    color: black;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
}
.back
{
    margin-left: 1%;
}
/* This is the progress bar section */
.progress-main-section
{
    margin-left: 10%;
    margin-top: 5%;
}
.add-image-comment
{
    padding: 5px;
    margin-top: 10px;
    outline: 0px;
    border-radius: 5px;
    width: 350px;
}
.image-comment
{
    display: block;
}
.submit-comment-btn
{
    margin-top: 10px;
    padding: 4px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.image-comment-text
{
    margin-top: 10px;
    margin-left: 135px;
}
.image
{
    width: 500px;
    height: 400px;
    margin-top: -50px;
    background-position: center;
    background-size: cover;
}
.image-and-comment
{
    margin-top: 100px;
}
hr
{
    margin-top: 20px;
}
label
{
    display: block;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 35px;
}

.finish-project-btn
{
    color: white;
    background: black;
    margin-left: 0px;
}